@import 'reset.css';

:root {
  --mainBgColor: #EEEEEE;
}

@b layout {
  @e header {
  }
  @e content {
    margin: 50px auto 0 auto;
    size: 400px auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: var(--mainBgColor);
    border-radius: 6px;
    padding: 60px;
  }
  @e footer {
  }
}
