extends _base

append head


append content
  .hero-unit
    h1 'Allo, 'Allo! JADE
    p You now have
    img(src="/images/cat.png", alt="")
    ul
      li HTML5 Boilerplate
      li Modernizr
      li RequireJS
  // build:js(.tmp) scripts/test.js
  script(src="scripts/test.js")
  // endbuild
