@b p-index {
  @e title {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  @e share {
    margin-top: 10px;
  }
  @e img {
    background-image: inline('cat.png');
    size: width('cat.png') height('cat.png');
  }
  @e svgo-example {
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><circle cx="20" cy="20" r="10" fill="black" /></svg>');
  }
}
