//- .p-index
h1.p-index--title 'Allo, 'Allo! JADE
center.p-index--centred
  a(href="javascript:void(0)" data-js='auth'
    style="color:black; font-size: 30px; border:1px solid; border-radius:5px;padding: 10px 10px 5px 7px;")
    | Modal
.p-index--text
  p  Now you have
  img(src=require("images/cat.png"), alt="")
  ul
    li HTML5 Boilerplate
    li Modernizr
    li RequireJS
.p-index--share(data-view='share')
