//- .auth_modal
extends ../_Modal/Modal

block header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h4.modal-title Авторизоваться

block body
  img(src="/images/kitten.png" style="width:80%; margin-left: 10%;")
  center Авторизуйтесь
block footer
  button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
  button.btn.btn-primary(type='button' data-ok) Авторизоваться
