{
// Default options
'functions': true
}

{{#items}}
    .{{name}}{
    width:{{px.width}};
    height:{{px.height}};
    background-position: {{px.offset_x}}  {{px.offset_y}};
    background-image: url('{{{escaped_image}}}');
    }
{{/items}}
