//- .index_page
h1 'Allo, 'Allo! JADE <i class="fa fa-angellist"></i>
center
  a(href="javascript:void(0)" data-js='auth'
    style="color:black; font-size: 30px; border:1px solid; border-radius:5px;padding: 10px 10px 5px 7px;")
    i.fa.fa-rocket: | &nbsp;Modal
p  Now you have
img(src="/images/cat.png", alt="")
ul
  li HTML5 Boilerplate
  li Modernizr
  li RequireJS
