.modal.fade: .modal-dialog: .modal-content
  .modal-header
    block header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  .modal-body
    block body

  .modal-footer
    block footer
