.modal.fade: .modal-dialog: .modal-content
  block content
    .modal-header
      block header
        button.modal-header--close(type='button', data-dismiss='modal', aria-hidden='true') ×
    .modal-body
      block body

    .modal-footer
      block footer
