header#header-layout
  include HeaderLayout/HeaderLayout
section#content-layout
  include ContentLayout/ContentLayout
footer#footer-layout
  include FooterLayout/FooterLayout
#modal-layout
  include ModalLayout/ModalLayout
